<div>
  <label for="authCode">Auth and get token</label>
  <button id="authCode" (click)="getAuthCode()">Fetch</button>
</div>
<div *ngIf="codeParam">Auth code is: {{ codeParam }}</div>
<div *ngIf="!codeParam">No auth code found</div>

<div>
  <label for="authToken">Authorization Token</label>
  <button id="authToken" (click)="getToken()">Show Token</button>
</div>
<div *ngIf="codeParam">Auth token is: {{ authToken }}</div>
<div *ngIf="!codeParam">No auth token found</div>

<div>
  <label for="getPatient">Get Patient</label>
  <button id="getPatient" (click)="getPatient()">Show Patient OID</button>
  <div *ngIf="codeParam">Patient OID is: {{ patient }}</div>
  <div *ngIf="!codeParam">No auth token found</div>
</div>
